<!-- Toolbar -->
<!---mat-toolbar >--->
  <div style="text-align:center;background-color:#f1f1f2;">
    <img alt="Example" style="width:auto;height:300px;" src="./assets/daradja_photo.jpg">
  </div>
<!---</mat-toolbar>---->

<!-- wrapper -->
<mat-sidenav-container>
  <span> Formulaire inscription mentor</span>
  <mat-sidenav-content>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <!-- Name -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom" formControlName="nom">
        <!-- error -->
        <mat-error *ngIf="errorHandling('nom', 'required')">
          Vous devez saisir votre <strong> nom</strong>
        </mat-error>
      </mat-form-field>

       <!-- prenom -->
       <mat-form-field class="example-full-width">
        <input matInput placeholder="Prénom" formControlName="prenom">
        <!-- error -->
        <mat-error *ngIf="errorHandling('prenom', 'required')">
        Vous devez saisir votre <strong> prénom</strong>
        </mat-error>
        </mat-form-field>

      <!-- Email -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Adresse mail" formControlName="email">
        <!-- error -->
        <mat-error *ngIf="errorHandling('email', 'required')">
          Vous devez saisir votre<strong> email</strong>
        </mat-error>
      </mat-form-field>
        <!-- telephone -->
        <mat-form-field class="example-full-width">
          <input pattern="^[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}$" matInput placeholder="Numéro de téléphone" formControlName="telephone">
          <!-- error -->
          <mat-error *ngIf="errorHandling('telephone', 'required')">
            Vous devez saisir votre<strong> numéro de téléphone</strong>
          </mat-error>
          <mat-error *ngIf="myForm.controls['telephone'].errors?.pattern">
            Vous devez saisir avec le format 06-42-67-67-67.
          </mat-error>
        </mat-form-field>

      <!-- Gender -->
      <div class="misc-bottom-padding example-full-width">
        <mat-label>Civilité:</mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
          <mat-radio-button value="Autre">Autre</mat-radio-button>
        </mat-radio-group>
        <input *ngIf="myForm.controls['gender'].value == 'Autre'" matInput placeholder="Précisez" formControlName="autreGender" style="width:100px;">
      </div>

        <!--Dans quelle ville travaillez-vous -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Dans quelle ville travaillez-vous?" formControlName="ville">
          <!-- error -->
          <mat-error *ngIf="errorHandling('ville', 'required')">
            Vous devez saisir une <strong> ville</strong>
          </mat-error>
        </mat-form-field>

        <!---Quelle est votre profession -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Quelle est votre profession" formControlName="profession">
          <!-- error -->
          <mat-error *ngIf="errorHandling('profession', 'required')">
            Vous devez saisir votre <strong> profession</strong>
          </mat-error>
        </mat-form-field>
        <!---Nombre d'années d'expérience dans cette profession? -->
        <mat-form-field class="example-full-width">
          <input matInput pattern="/^[+]?[1-9]\d*$/"  placeholder="Nombre d'années d'expérience dans cette profession?" formControlName="anneeProfession">
          <!-- error -->
          <mat-error *ngIf="errorHandling('anneeProfession', 'required')">
            Vous devez saisir un <strong> nombre d'années d'expérience</strong>
          </mat-error>
          <mat-error *ngIf="myForm.controls['anneeProfession'].errors?.pattern">
            Vous devez saisir un <strong> nombre superieur ou égal à 1</strong>
          </mat-error>
        </mat-form-field>
        <!--Autres expériences  -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Autres expériences (ex : bénévolat)" formControlName="autreProfession">
        
        </mat-form-field > 
      <!-- Hobbies -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Hobbies" formControlName="hobbies">
        <!-- error -->
        <mat-error *ngIf="errorHandling('hobbies', 'required')">
          Vous devriez fournir au moins<strong> une hobbie </strong>
        </mat-error>
      </mat-form-field>

        <!---Combien d’heures par mois pouvez-vous consacrer? -->
        <mat-form-field class="example-full-width">
          <input matInput pattern="/^[+]?[1-9]\d*$/"  placeholder="Combien d’heures par mois pouvez-vous consacrer?" formControlName="huereConsacrer">
          <!-- error -->
          <mat-error *ngIf="errorHandling('huereConsacrer', 'required')">
            Vous devriez fournir une <strong> nombre d'années d'expérience</strong>
          </mat-error>
          <mat-error *ngIf="myForm.controls['anneeProfession'].errors?.pattern">
            Vous devez saisir un <strong> nombre superieur ou égal à 1</strong>
          </mat-error>
        </mat-form-field>
        <!--Vous pouvez apporter du soutien à un étudiant par (choix multiple)--> 
        <mat-selection-list class="example-full-width" formControlName="soutien" #soutien>
          <mat-label>Vous pouvez apporter du soutien à un étudiant par (choix multiple)?</mat-label>
          <mat-list-option *ngFor="let soutien of typesOfSoutien">
            {{soutien}} 
          </mat-list-option>
          <input *ngIf="" matInput placeholder="Précisez" #autreSoutien formControlName="autreSoutien" style="width:100px;">
        </mat-selection-list> 
        VALUE={{soutien.selectedOptions.selected}}
     <input type="button" (click)="test(soutien)"/>

        <!--Avez-vous déjà mentoré -->
      <div class="example-full-width">
        <mat-label>Avez-vous déjà mentoré?</mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="mentore">
          <mat-radio-button value="Oui">Oui</mat-radio-button>
          <mat-radio-button value="Non">Non</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Submit</button>
      </div>

    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
